.photo-center{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center center;
}
.photo-bottom{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center bottom;
}
.photo-top{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center top;
}